<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./materialize/mat.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>誰是臥底</title>
  </head>
  <body>
    <div id="app">
      <nav class="deep-purple darken-1">
        <div class="nav-wrapper">
          <span class="brand-logo">{{ user.room }} 號房</span>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">離開房間</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-menu">
        <li><a href="index.html">離開房間</a></li>
      </ul>
      <div class="chat">
        <div class="chat-users collection">
          <a
            class="collection-item"
            v-for="u in users"
            :class="{'active': u.id == user.id, 'strike-through': u.role == '出局'}"
          >
            {{ u.name }} ({{ u.status }}) {{ u.isHost ? '主持' : '' }} {{ u.role != undefined ? u.role : '' }}
            <span
              class="btn badge grey lighten-5"
              @click="toggleSitStand"
              v-if="u.id == user.id"
            >
              {{ u.status == '已坐下' || u.status == '出局' ? '站起' : '坐下' }}
            </span>
          </a>
        </div>
        <div class="chat-messages" ref="messages">
          <chat-message
            v-for="(m, id) in messages"
            :message="m"
            :user="user"
            :key="id"
          >
          </chat-message>
        </div>
      </div>

      <div class="actions">
        <div class="input-field">
          <input
            type="text"
            placeholder="text"
            v-model.trim="message"
            autofocus
            autocomplete="false"
            @keydown.enter="sendMessage"
          />
        </div>
        <button
          class="btn"
          @click="sendMessage"
          :disabled="message.length === 0"
        >
          send
        </button>
      </div>
    </div>

    <script src="./materialize/mat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
